/*ROCK PAPER SCISSORS CSS*/
@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap");
//VARS
$containerWidth: min(100% - 2rem, 60rem);
$assetsPath: "../images/";
$dark: #323031;
$bright: #ffc857;
$bright2: #ca2f2f;
$main: #084c61;
$main2: #177e89;
$grid: #ccc;
$font: "Kalam", cursive;
body {
    align-items: center;
    background-color: $dark;
    color: $bright;
    display: flex;
    flex-direction: column;
    font-family: $font;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

main.game {
    background: $bright2;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 16px;
    display: flex;
    gap: 10px;
    margin-bottom: 5px;
    padding: 20px;
    .settings {
        display: flex;
        flex-direction: column;
        gap: 10px;
        .color-choice {
            position: relative;
        }
        #colorMode {
            background-color: transparent;
            border: none;
            border-radius: 50px;
            cursor: pointer;
            height: 40px;
            margin: 0;
            padding: 0;
            position: absolute;
            right: 10px;
            top: 0;
            width: 36px;
            &::-webkit-color-swatch {
                border: solid 2px white;
                border-radius: 40px;
                box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 16px;
                margin: 0;
                padding: 0;
            }

            &::-moz-color-swatch {
                border: solid 2px white;
                border-radius: 40px;
                box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 16px;
                margin: 0;
                padding: 0;
            }
        }
        .nav-btn {
            background-color: $bright;
            background-repeat: no-repeat;
            background-size: contain;
            border: none;
            border-radius: 30px;
            height: 40px;
            width: 40px;
            &:hover{
                background-color: lighten($bright,20%);
                cursor: pointer;
            }
            &.active {
                outline:solid 3px white;
            }
            &#rainbowMode {
                background-image: url("#{$assetsPath}rainbow.svg");
            }
            &#eraserMode {
                background-image: url("#{$assetsPath}eraser.svg");
            }
            &#clear {
                background-image: url("#{$assetsPath}clear.svg");
            }
            &#colorModeLabel {
                background-image: url("#{$assetsPath}pen.svg");
                display: inline-block;
                width: 100%;
            }
        }
        .other-choices{
            margin-bottom: 20px;
        }
        .grid-choice{
            #grid_size{
                display: block;
            }
        }
    }
    .grid {
        display: grid;
        height: 500px;
        width: 500px;
        .pixel {
            background-color: $grid;
            border: solid 1px darken($grid, 10%);
        }
    }
}

.tooltip {
    position: relative;
    .tooltiptext {
        background-color: $main;
        border-radius: 6px;
        color: #fff;
        font-family: $font;
        font-size: 12px;
        left: -50%;
        padding: 4px 8px;
        /* Position the tooltip text - see examples below! */
        position: absolute;
        text-align: center;
        top: 100%;
        visibility: hidden;
        white-space: nowrap;
        
        z-index: 1;
    }
    /* Show the tooltip text when you mouse over the tooltip container */
    &:hover .tooltiptext {
        visibility: visible;
    }
}


@media only screen and (max-width:700px) {
 main.game{
    flex-direction: column;
    .settings{
        flex-direction: row;
        .color-choice{
            width: 90px;
        }
    }
 }
}
@media only screen and (max-width:500px) {
    main.game .grid{
        height: 400px;
        width: 400px;
    }
}
@media only screen and (max-width:400px) {
    main.game {
        .settings{
            flex-wrap: wrap;
        }
        .grid{
            height: 320px;
            width: 320px;
        }
    }
}
@media only screen and (min-width: 960px) {
  
    
}

@media only screen and (min-width: 1280px) {
   
    
}

@media only screen and (min-width: 1920px) {
   
    
}