/*ROCK PAPER SCISSORS CSS*/
@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap");
//VARS
$containerWidth: min(100% - 2rem, 60rem);
$assetsPath: "../images/";
$dark: #323031;
$bright: #ffc857;
$bright2: #db3a34;
$main: #084c61;
$main2: #177e89;
$grid:#ccc;
body {
    align-items: center;
    background-color: $dark;
    color: $bright;
    display: flex;
    flex-direction: column;
    font-family: "Kalam", cursive;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

main.game{
    background: darkred;
    border-radius: 20px;
    box-shadow: rgba(0,0,0,0.2) 0px 0px 16px;
    display: flex;
    gap: 10px;
    padding: 20px;

    .settings{
        display: flex;
        flex-direction: column;
        gap: 10px;

        #colorMode{
            background-color: transparent;
            border:none;
            border-radius: 50px;
            cursor: pointer;
            height: 50px;
            width: 50px;
            &::-webkit-color-swatch
             {
                border: solid 2px white;
                border-radius:50px;
            }
            
            &::-moz-color-swatch
             {
                border:none;
                border-radius:15px;
            }
        }
    }
    .grid{
        display: grid;
        height: 500px;
        width: 500px;
        .pixel{
            background-color: $grid;
            border:solid 1px darken($grid,10%);
        }
    }
}