/*ROCK PAPER SCISSORS CSS*/
@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap");
//VARS
$containerWidth: min(100% - 2rem, 60rem);
$assetsPath: "../images/";
$dark: #323031;
$bright: #ffc857;
$bright2: #db3a34;
$main: #084c61;
$main2: #177e89;
body {
    align-items: center;
    background-color: $dark;
    color: $bright;
    display: flex;
    flex-direction: column;
    font-family: "Kalam", cursive;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}