/*ROCK PAPER SCISSORS CSS*/
@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap");
body {
  align-items: center;
  background-color: #323031;
  color: #ffc857;
  display: flex;
  flex-direction: column;
  font-family: "Kalam", cursive;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

main.game {
  display: flex;
  gap: 10px;
}
main.game .settings {
  display: flex;
  flex-direction: column;
}
main.game .grid {
  display: grid;
  height: 500px;
  width: 500px;
}
main.game .grid .pixel {
  border: solid 1px #ccc;
}
